<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>BTP - Forgot Password</title>
</head>
<style>
    .mycolor{color: antiquewhite}
</style>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a class="navbar-brand" href="/login">
        <img src="https://www.btp.police.uk/build_images/BTP_Logo_Blue.png"
             alt="Logo">
    </a>
</nav>
<div class="container" th:bgcolor="blue">
    <br>
    <h1 class="h3 mb-4 col-4 font-weight-normal">Forgot Password</h1>
    <img src="https://www.btp.police.uk/images/751---website-banner-animated-npt.gif"
         alt="..."
         class="float-right" style="width: 650px;">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control mb-4 col-4" id="username" placeholder="Enter username"
                   name="username">
        </div>
        <input type="submit" class="btn btn-primary mb-4 col-4" th:value="'recover'"/>
    </form>
    <a href="/">Login Page</a>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
    <span>All Right Reserved &copy; British Transport Police 2019-2020</span>
</nav>
</body>
</html>