<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>BTP - Login</title>
</head>
<style>
    .errorColour{color: red}
</style>
<body>
<div class="container">
    <br>
    <h1 class="h3 mb-4 col-4 font-weight-normal display-4">Please sign in</h1>
    <img src="https://upload.wikimedia.org/wikipedia/en/b/b1/British_Transport_Police_Logo.svg"
         alt="..."
         class="float-right" width="500px">

    <div th:if="${param.error} and ${session}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION']?.message}">
        <div class="alert alert-dismissible alert-danger error mb-4 col-4">
            <b><i><span th:text="${errorMsg}" class="errorColour">Demo Invalid input</span></i></b>
        </div>
    </div>
    <div th:if="${param.xksitup!=null}">
        <div class="alert alert-dismissible alert-danger error mb-4 col-4">
            <b><i><span th:text="'User Created, Kindly contact admin to unlock account'" class="errorColour">Demo Invalid input</span></i></b>
        </div>
    </div>

    <div th:if="${param.logout}">
        <div class="alert alert-dismissible alert-danger error mb-4 col-4">
            <b><i><span th:text="'You have been logged out.'" class="errorColour">Demo Invalid input</span></i></b>
        </div>
    </div>



    <div th:if="${param.passwordChanged!=null}">
        <div class="alert alert-dismissible alert-danger error mb-4 col-4">
            <b><i><span th:text="'Password: '+${param.passwordChanged}" class="errorColour">Demo Invalid input</span></i></b>
        </div>
    </div>


    <form action="#" th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control mb-4 col-4" id="username" placeholder="Enter username"
                   name="username" autofocus required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control mb-4 col-4" id="password" placeholder="Enter password"
                   name="password" required>
        </div>
        <input type="submit" class="btn btn-primary mb-4 col-4" th:value="'Log in'"/>
    </form>
    <br>
    <input type="button" onclick="window.location.href='/forgotPasswordPage'" class="btn btn-warning mb-1 col-2"
           th:value="'Forgot Password'"/>
    <input type="button" onclick="window.location.href='/signupForm'" class="btn btn-warning mb-1 col-2"
           th:value="'Sign Up'"/>
</div>

</body>
</html>